<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @message.subject %>
</p>

<p>
  <b>Respond to:</b>
  <%= @message.respond_to %>
</p>

<p>
  <b>Contents:</b>
  <%= @message.contents %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
