<%= form_for(@clothing_item) do |f| %>
  <% if @clothing_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clothing_item.errors.count, "error") %> prohibited this clothing_item from being saved:</h2>

      <ul>
      <% @clothing_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :picture_url %><br />
    <%= f.text_field :picture_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
